.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }
  
  .content {
    flex: 1;
    padding-bottom: 80px;
  }
  
  .bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
    background: #25282f;
    border-top: 1px solid #365d6c;
    z-index: 100;
  }
  
  .bottom-nav a {
    color: white;
    /* text-decoration: none; */
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  
